<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>com.rongnan.dbutil.register.action.RegisterAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.rongnan.dbutil.login.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindBook</servlet-name>
    <servlet-class>com.rongnan.dbutil.book.action.FindBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>bookbuy</servlet-name>
    <servlet-class>com.rongnan.dbutil.book.action.bookbuy</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Shopcart</servlet-name>
    <servlet-class>com.rongnan.dbutil.shopcart.action.Shopcart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentAction</servlet-name>
    <servlet-class>com.rongnan.dbutil.comment.action.CommentAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelCartAction</servlet-name>
    <servlet-class>com.rongnan.dbutil.shopcart.action.DelCartAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DleallAction</servlet-name>
    <servlet-class>com.rongnan.dbutil.shopcart.action.DleallAction</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/servlet/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/servlet/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindBook</servlet-name>
    <url-pattern>/servlet/FindBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bookbuy</servlet-name>
    <url-pattern>/servlet/bookbuy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Shopcart</servlet-name>
    <url-pattern>/servlet/Shopcart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentAction</servlet-name>
    <url-pattern>/servlet/CommentAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCartAction</servlet-name>
    <url-pattern>/servlet/DelCartAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DleallAction</servlet-name>
    <url-pattern>/servlet/DleallAction</url-pattern>
  </servlet-mapping>
   
       
    <filter>
        <filter-name>MainPageFilter</filter-name>
        <filter-class>com.rongnan.dbutil.filter.MainPageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainPageFilter</filter-name>
        <url-pattern>/main.jsp</url-pattern> 
        <url-pattern>/book/myShopcart.jsp</url-pattern>  
        <url-pattern>/comment.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		
    </filter-mapping>  
        
       
        
   
         
        
         
    
    
     
     
     
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
 	
 	<session-config>
 		<session-timeout>10</session-timeout>
 	</session-config>


</web-app>